/* background for "about" class is an image in public folder named background.png */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .about {
  background-image: url(../public/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 93vhvh;
  width: 100vw;
} */

/* navbar is transparent */
* {
  overflow-y: scroll;
}
.gradient {
  background: hsla(184, 85%, 63%, 1);

  background: linear-gradient(
    90deg,
    hsla(184, 85%, 63%, 1) 0%,
    hsla(202, 90%, 49%, 1) 60%,
    hsla(202, 89%, 48%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(184, 85%, 63%, 1) 0%,
    hsla(202, 90%, 49%, 1) 60%,
    hsla(202, 89%, 48%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(184, 85%, 63%, 1) 0%,
    hsla(202, 90%, 49%, 1) 60%,
    hsla(202, 89%, 48%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4FE6F1", endColorstr="#0C9CED", GradientType=1 );
}

.card {
  background-color: white;
  border-radius: 5px;
  border: 2px solid #0c9ced;
  min-width: 250px;
  max-width: 250px;
  min-height: 150px;
  margin: 30px;
  max-height: 150px;
  padding: 10px;
}

.selected-excerpt-card {
  background-color: #0ca7ff;
  border-radius: 5px;
}

.card-transition-enter {
  background-color: initial;
}

.card-transition-enter-active {
  background-color: green;
  transition: background-color 300ms ease-in;
}

.card-transition-exit {
  background-color: green;
}

.card-transition-exit-active {
  background-color: initial;
  transition: background-color 300ms ease-out;
}
